<!DOCTYPE html>
<html>
<head>
	<title>TweetMap</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/css" src="static/bootstrap-datepicker.min.css"></script>
    <style type="text/css">
     	html, body { 
     		height: 100%;
     	}
     	#map { 
     		height: 100%; 
     	}
    </style>
</head>

<body>
     <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
              <a class="navbar-brand" href="#">TweetMap</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">music</a></li>
                            <li><a href="#">keyword2</a></li>
                            <li><a href="#">keyword3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">keyword4</a></li>
                        </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="begin date" id="dateselector1">
                    to
                    <input type="text" class="form-control" placeholder="end date" id="dateselector2">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <button type="button" class="btn btn-default navbar-btn">Sumbit</button>
            </ul>

        </div>
    </nav>

	<div id="map"></div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datepicker.min.js') }}"> </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgviOH3VaP0rQc5c5VxLSUBRm7obCmi9o
        &libraries=visualization&callback=initMap">    
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"> </script>
</body>
</html>
